@model Accountant.Models.ViewModel.TestViewModel


<@* 
<form asp-action="ScreenWorkDiary">
    <table>
        <thead>
            <tr>

                @foreach (var item in Model.Car_List_M)
                {

                    <th><a class="btn btn-primary" href="~/WorkDiary/ScreenWorkDiary?WorkDiaryEdit_Id=0&WorkDiary_Id=@item.Id">@item.NameCar</a></th>

                }





            </tr>
        </thead>
    </table>
</form>
<div style="display:flex">


    <div class="form-group" style="margin:30px">
        <form asp-action="ScreenWorkDiary">
            <div asp-validation-summary="ModelOnly"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="WorkDiary_M.Messages" class="text-danger"></span>
            <span asp-validation-for="WorkDiary_M.Error" class="text-danger"></span>

            <div class="form-group">
                <input asp-for="WorkDiary_M.Id" class="form-control" hidden />
            </div>
            @if(Model.Car_M != null)
            {
            <div class="form-group">
            <input asp-for="WorkDiary_M.MeansTransportation" class="form-control"  value="@Model.Car_M.NameCar"  />
            <span asp-validation-for="WorkDiary_M.MeansTransportation" class="text-danger"></span>
            </div>
            }
            else
            {

            <div class="form-group">
                <input asp-for="WorkDiary_M.MeansTransportation" class="form-control" />
                <span asp-validation-for="WorkDiary_M.MeansTransportation" class="text-danger"></span>
            </div>

            }

            <div class="form-group">
                <label asp-for="WorkDiary_M.TransportationLocation" class="control-label"></label>
                <input asp-for="WorkDiary_M.TransportationLocation" class="form-control" />
                <span asp-validation-for="WorkDiary_M.TransportationLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkDiary_M.DeliveryLocation" class="control-label"></label>
                <input asp-for="WorkDiary_M.DeliveryLocation" class="form-control" />
                <span asp-validation-for="WorkDiary_M.DeliveryLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDiary_M.LoadType" class="control-label"></label>
                <input asp-for="WorkDiary_M.LoadType" class="form-control" />
                <span asp-validation-for="WorkDiary_M.LoadType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDiary_M.TransportationPrice" class="control-label"></label>
                <input asp-for="WorkDiary_M.TransportationPrice" class="form-control" />
                <span asp-validation-for="WorkDiary_M.TransportationPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkDiary_M.OperatorId" class="control-label"></label>
                <select asp-for="WorkDiary_M.OperatorId" class="form-control">
                    <option value="">--اختر المشغل--</option>
                    @foreach (var item in Model.WorkCompanies_List_M)
                    {

                    <option value="@item.Id">@item.CompanyName</option>
                    }
                </select>

                <span asp-validation-for="WorkDiary_M.OperatorId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="WorkDiary_M.NumberLoad" class="control-label"></label>
                <input asp-for="WorkDiary_M.NumberLoad" class="form-control" />
                <span asp-validation-for="WorkDiary_M.NumberLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDiary_M.PaymentType" class="control-label"></label>
                <input asp-for="WorkDiary_M.PaymentType" class="form-control" />
                <span asp-validation-for="WorkDiary_M.PaymentType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkDiary_M.CreatedDate" class="control-label"></label>
                <input asp-for="WorkDiary_M.CreatedDate" class="form-control" />
                <span asp-validation-for="WorkDiary_M.CreatedDate" class="text-danger"></span>
            </div>


            <div class="form-group" style="margin-top:10px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <div>
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th>موقع النقل</th>
                        <th>موقع التسليم</th>
                        <th>نوع الحمولة</th>
                        <th>عدد الحمولة</th>
                        <th>صاحب الحمولة</th>
                        <th>التاريخ</th>
                        <th>تعديل</th>
                        <th>خذف</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WorkDiary_List_M)
                    {
                        <tr>
                            <td>@item.TransportationLocation</td>
                            <td>@item.DeliveryLocation</td>
                            <td>@item.LoadType</td>
                            <td>@item.NumberLoad</td>
                             @foreach (var itemW in Model.WorkCompanies_List_M)
                        {
                        @if (item.OperatorId == itemW.Id)
                        {
                        <td>@itemW.CompanyName</td>
                        }
                        }
                            <td>@item.CreatedDate</td>


                            <th><a class="btn btn-primary" href="~/WorkDiary/ScreenWorkDiary?WorkDiaryEdit_Id=@item.Id&WorkDiary_Id=0">نعديل</a></th>

                            <td><a class="btn btn-primary" href="~/WorkDiary/DeleteWorkDiary?id=@item.Id">خذف</a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </form>


    </div>
</div> *@
  @* <a href="/Expenses/ScreenExpenses?dateT=2024-03-07">qqq</a> *@
@* @if (Model.DateExchangeOnly == Model.Expenses.First().DateExchange) *@ @* // [0] تعني الاول / بدل استعمال first *@