@model Accountant.Models.ViewModel.ViewModelDriversDiary


<div>
    <style>
        .StatusButtonCar {
            background-color: #00146bc9;
            height: 120px;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .StatusButtonCar1 {
            height: 120px;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .TableCar {
            margin-right: 50px;
        }

        .table tbody tr:hover {
            background-color: #ccc;
        }

    </style>
    <div style="display:flex">
        <div class="TableCar col-md-3">
            <div class="form-group" style="margin:30px 30px 0px 0px">
                <form asp-action="ScreenDetailsDriversDiary">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="DriversDiary_M.Messages" class="text-danger"></span>
                    <span asp-validation-for="DriversDiary_M.Error" class="text-danger"></span>

                    <div class="form-group">
                        <input asp-for="DriversDiary_M.ID" class="form-control" hidden />
                    </div>
                    <div class="form-group">
                        <input asp-for="AddToEdit" class="form-control" hidden value="@Model.AddToEdit" />
                    </div>


                    @if (Model.StatusButtonDriver != null)
                    {
                        <div class="form-group">
                            <input asp-for="DriversDiary_M.DriverId" class="form-control" hidden value="@Model.StatusButtonDriver" />
                            <span asp-validation-for="DriversDiary_M.DriverId" class="text-danger"></span>
                        </div>
                    }
                    else
                    {

                        <div class="form-group">
                            <input asp-for="DriversDiary_M.DriverId" class="form-control" />
                            <span asp-validation-for="DriversDiary_M.DriverId" class="text-danger"></span>
                        </div>

                    }


                    <div class="form-group">
                        <label asp-for="DriversDiary_M.TransportationLocation" class="control-label"></label>
                        <input asp-for="DriversDiary_M.TransportationLocation" class="form-control" />
                        <span asp-validation-for="DriversDiary_M.TransportationLocation" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DriversDiary_M.DeliveryLocation" class="control-label"></label>
                        <input asp-for="DriversDiary_M.DeliveryLocation" class="form-control" />
                        <span asp-validation-for="DriversDiary_M.DeliveryLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DriversDiary_M.LoadType" class="control-label"></label>
                        <input asp-for="DriversDiary_M.LoadType" class="form-control" />
                        <span asp-validation-for="DriversDiary_M.LoadType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DriversDiary_M.LoadType" class="control-label"></label>
                        <input asp-for="DriversDiary_M.LoadType" class="form-control" />
                        <span asp-validation-for="DriversDiary_M.LoadType" class="text-danger"></span>
                    </div>
                    @if(Model.DriversDiary_List.Count > 0)
                    {
                        <div class="form-group">
                            <label asp-for="DriversDiary_M.CreatedDate" class="control-label"></label>
                            <input asp-for="DriversDiary_M.CreatedDate" class="form-control" type="date" readonly value="@String.Format("{0:yyyy-MM-dd}",Model.StatusDate)" />
                            <span asp-validation-for="DriversDiary_M.CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DriversDiary_M.CreatedTime" class="control-label"></label>
                            <input asp-for="DriversDiary_M.CreatedTime" class="form-control" type="time" />
                            <span asp-validation-for="DriversDiary_M.CreatedTime" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="DriversDiary_M.CreatedDate" class="control-label"></label>
                            <input asp-for="DriversDiary_M.CreatedDate" class="form-control" type="date" />
                            <span asp-validation-for="DriversDiary_M.CreatedDate" class="text-danger"></span>
                        </div>
                        
                    }
                     


                    <div class="form-group" style="margin-top:10px">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>

        <div class="col-md-9">
            @* <a class="btn btn-primary" href="~/Expenses/DetailsExpenses?CarID=@Model.IDCar&AddNew=true&Add=false&Edit=false">اضافة بيانات</a> *@
            <form asp-action="DetailsExpenses">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center;">اسم اليوم</th>
                            <th style="text-align:center;">الوقت</th>
                            <th style="text-align:center;">موقع النقل</th>
                            <th style="text-align:center;">موقع التسليم</th>
                            <th style="text-align:center;">نوع الحمولة</th>
                            <th style="text-align:center;">المركبة</th>
                            <th>تعديل</th>
                            <th>حذف</th>
 


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.DriversDiary_List)
                        {
                            <tr>
                                <td style="text-align:center;">@item.CreatedDate.ToString("dddd")</td>
                                <td style="text-align:center;">@item.CreatedTime</td>
                                <td style="text-align:center;">@item.TransportationLocation</td>
                                <td style="text-align:center;">@item.DeliveryLocation</td>
                                <td style="text-align:center;">@item.LoadType</td>
                                <td style="text-align:center;">@item.car?.NameCar</td>
                                <th><a class="btn btn-primary" href="~/DriversDiary/ScreenDetailsDriversDiary?CarID=@item.CarId&AddNew=false&Edit=true&IDExchange=@item.ID&DateExchangeString=@item.CreatedDate.ToString("yyyy-MM-dd")">تعديل</a></th>
                                <th><a class="btn btn-primary" href="~/DriversDiary/DeleteDriversDiary?id=@item.ID&AddToEdit=@Model.AddToEdit">حذف</a></th>


                            </tr>



                        }
                    </tbody>
                </table>
            </form>
            @section Scripts {
                @{
                    //هذا مهم جدا لانه يقوم بفحص اذا البيانات فاغة ولا لا حسب الي موضع في الفيو اذا اخترنا ان يكون في بيانات
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }

        </div>
    </div>
</div>
